.main1 {
    display: flex;
    height: 100%;
    width: 100%;
    flex-direction: column;
    border: solid
}

.cart1{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%
}

.itemsCart{
    height: 120px;
    margin-top: 20px;
    display: flex;
    align-item: center;
     width: 100%;
     border: groove ;

}

.left{
    margin-top: -50px;
    margin-left: -30px;
    display:flex;
    flex-direction:row;
    justify-content: space-between;
    width: 100%;
}

.item{
    display: flex;
    margin: 70px
}

.nameItem{
    display: flex;
    justify-content: space-between;
    width: 80px;
    margin: 20px
}

.amount{
    display: flex;
    justify-content: space-between;
    width: 80px;
    margin: 20px
}

.priceItem{
    display: flex;
    justify-content: space-between;
    width: 80px;
    margin: 20px
}

.totalItem{
    display: flex;
    justify-content: space-between;
    width: 80px;
    margin: 20px
}

.keys{
    display: flex;
    flex-direction: row;
}

.key{
    display: flex;
    margin: 23px;
}

.buttonDelete{
    display:flex;
    widht: 10px;
    height: 30px;
    margin-top: 40px;
}

.buttons{
    display: flex;
    justify-content: space-between;
    width: 80px;
    margin: 50px;

}

.totalOrder{
    display:flex;
    flex-direction:column;
    width: 200px;
    margin: 20px
}

.order{
    display:flex;
    flex-direction:column;
    width: 150px;
    margin: 20px;
}

.lastContainer{
    display: flex;
    justify-content: space-between;
}

@media screen and (max-width: 375px){
     .key{
        display: flex;
        margin: 5px;
        font-size: 17px;
    } 

    .nameItem{
        display: flex;
        justify-content: space-between;
        width: 40px;
        margin: 10px;
        font-size: 10px;
        margin-left: 5px;
        padding: -15px
    }
    
    .amount{
        display: flex;
        justify-content: space-between;
        width: 40px;
        margin: 10px;
        font-size: 10px;
    }
    
    .priceItem{
        display: flex;
        justify-content: space-between;
        width: 40px;
        margin: 10px;
        font-size: 10px;
    }
    
    .totalItem{
        display: flex;
        justify-content: space-between;
        width: 40px;
        margin: 10px;
        font-size: 10px;
    }

    .buttonDelete{
        display:flex;
        widht: 10px;
        height: 30px;
        margin-top: 25px;
        font-size: 10px;
    } 

  }