.mainProducts{
    display: flex;
    padding: 25px;
    margin: 5px;
}


.containerCard{
    display: flex;
    flex-wrap: wrap;
    background: red;
    height: 50vh;
    width: 100vw
}

.cards{
    display: flex;
    flex-wrap: wrap;
}