.cardsHome{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 50px;
 }

 .mainHome{
    display:flex;
    min-width: 98.7vw;
    min-height: 100vh;
 }

 .containerCards{  
    display: flex;
    width: 50vw;
    flex-wrap: wrap;
 }

 .containerTable{ 
    display: flex;
    width: 50vw;
    min-height: 100vh;
 }

 @media screen and (max-width: 375px){
   .mainHome{
      display:flex;
      flex-direction: column;
   }

   .containerTable{ 
      display: flex;
      width: 100vw;
      min-height: 100vh;
   }
 }