.main{
    display: flex;
    height: 13vh;
    width: 98.7vw;
    background-color: black
}

.container{
    display:flex;
    alig-items: center;
    flex-direction: row;
    width: 100vw;
}

.container h1{
    color: white
}

.title{
    display:flex;
    margin-left: 230px;
    align-items:center;
}

.imagenAlternova{
    border: none
}

@media screen and (max-width: 375px){
    .title{
        display:flex;
        margin-top: 30px;
        margin-left: -215px;
        align-items:center;
    }
}